.profileHeader {
  min-height: 100px;
  padding: 0px 300px 0px 300px;
}

.profileCard {
  display: flex;
  align-items: center;
  width: 250px;
  font-family: 'Montserrat', sans-serif;
}

.img {
  width: 100px;
  margin-right: 20px;
}
