.card {
  margin: 0 auto;
  padding: 15px;
  width: 300px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border: 1px solid grey;
  border-radius: 32px;
  background-color: rgb(246, 246, 246);
}
